*{margin: 0rem;
	padding: 0rem;

}
body{
	height: 100%;
	width:100% ;
}
.navigation{ 
	font-weight: bolder;
	color:rgba(255, 255,255, 1)!important;
	list-style: none;
	float: right;
	float: right;
}
.navigation a{
	color: rgba(255, 255,255, 0.7);
	text-decoration: none;

}
h5{
	text-align: center;
	
	font-size: 2.5vw;
	animation: anime 0.9s linear  1;
	transform: translateY(-4vw);
}
.para{
	display: inline-block;
	font-size: 1.5vw;
	transform: translateY(-3vw);
	
}
.buttons{
	animation: animes 0.9s linear  1;
	transform: translateY(-2.7vw);
	
}
@keyframes anime{
	from{
		transform: translateY(-7vw) ;
	}
	to{
		transform: translateY(-4vw);
	}
}
@keyframes animes{
	from{
		transform: translateY(-1vw) ;
	}
	to{
		transform: translateY(-2.5vw);
	}

}
#links{
	color: rgba(255, 255,255, 0.7)!important;
	float: left!important;
}
.carousel-div{
	height: 100vh;
	width: 100vw;
}
.slides{
	width: 40%;
	left: 31%;
	top: 30%;
}

@media(max-width:500px)
{
	.buttons{
		font-size: 2vw;
		
	}
	.para{
		font-size: 2.9vw!important;
	}
	h5{
		text-align: center;
		
		font-size: 4vw;
	}
}
