*{margin: 0rem;
	padding: 0rem;

}
body{
	height: 100%;
	width:100% ;
}
.navigation{ 
	font-weight: bolder;
	color:rgba(255, 255,255, 1)!important;
	list-style: none;
	float: right;
	float: right;
}
.navigation a{
	color: rgba(255, 255,255, 0.7);
	text-decoration: none;

}
h5{
	text-align: center;
	
	font-size: 2.5vw;
	animation: anime 0.9s linear  1;
	transform: translateY(-22vw);
}
.para{
	display: inline-block;
	font-size: 1.5vw;
	transform: translateY(-21vw);
	
}
.buttons{
	animation: animes 0.9s linear  1;
	transform: translateY(-20vw);
	margin-left:15%;
	
}
@keyframes anime{
	from{
		transform: translateY(-25vw) ;
	}
	to{
		transform: translateY(-22vw);
	}
}
@keyframes animes{
	from{
		transform: translateY(-9vw) ;
	}
	to{
		transform: translateY(-19vw);
	}

}
#links{
	color: rgba(255, 255,255, 0.7)!important;
	float: left!important;
}
.slides{
	width: 40%;
	left: 31%;
	top: 65%;
}
.carousel-div{
	height: 100vh;
	width: 100vw;
}
@media(max-width:400px)
{
	.buttons{
		animation: animes 0.9s linear  1;
		transform: translateY(-20vw);
		font-size: 3vw;
		
	}
	.para{
		font-size: 1.9vw;
	}
}
